# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://owasp_user:owasp1234@localhost:5433/owasp_db?schema=public"

JWT_SECRET=118b53cb-3496-48ca-867c-8601632034078
REFRESH_TOKEN_SECRET=86c33d94-c4ff-49b5-b23f-414fb9dd8996
REFRESH_TOKEN_EXPIRATION_TIME=84600
ACCESS_TOKEN_EXPIRATION_TIME=15m


REQUESTS_RATE_LIMIT=1
REQUESTS_RATE_LIMIT_TIME_WINDOW=3000